* {
  margin: 0px;
  padding: 0;
  

}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  
}

.decoration{
  font-family: 'La Belle Aurore', cursive;
  color: #d2d1d1;
  font-size: 1.2em;
  padding: 0;
  display: block;
  width: 100%;
  display: inline;
  font-weight:100;
}




header {
  
  position: relative;
  background: linear-gradient(to right, rgb(0, 0, 0), #4b4b4b 100%, rgb(100, 100, 100) 100%, rgb(255, 255, 255)10%);
  padding-top: 0;
  
  padding-left:4%;
  padding-right: 4%;

  
}



.icons a {
  padding: 0%;
  text-decoration: none
}



a  svg {
  color: aliceblue;
  
  width: 1.85em;

  margin-left: 1rem;

}
 
.container-fluid a{ 
  color:red;
  font-size: 1.2em;
  
} 




.nav-link.active {
  color: white;
  font-size: 1.2em;
  
}
section{
  display: grid;
  
}

.hidden{
  opacity: 0;
  
  transition: all 1s;
  transform: translateX(-100%);
}
.show{
  opacity: 1;
  transform: translateX(0);
  
}




.centered {  
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
   
}


.centered h1 {
  
  line-height: 4rem;
  font-weight: bold;
  font-size: 3.4em;
  
}

 .centeredh1 h1 .first-letter::before {
  content: "N";

  color: #ff0000;
  font-size: 60px;
  text-shadow: -1px 0 0 #ccc, -2px 0 0 #ccc,
             -3px 0 0 #ccc, -4px 0 0 #ccc,
             -5px 0 0 #ccc, -6px 0 0 #ccc,
             -7px 0 0 #ccc, -8px 0 0 #ccc,
             -9px 0 0 #ccc, -10px 0 0 #ccc,
             -10px 0 0 #ccc, -10px 0 0 #ccc,
             -10px 0 transparent;
}

.centerh1 {
  float: left;
  width: 50%;
  text-align: center;
}

.cloud img{ 
   
  width: 90%;
  opacity: 15%;
  
  padding-right: 10%;
  float: left;
}


main {
  
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(75, 75, 75)100%, rgb(100, 100, 100) 100%, rgb(255, 255, 255)10%);
  
  padding-top: 10%;
  padding-left:4%;
  padding-right: 4%;
  width: 100%;
  height:100%; 
  color: white;
}



.text-image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; 
  
  
  padding-bottom: 5%;
  
}

.text-image-container img {
  flex-basis: 20%; 
  flex-grow: 0; 
  max-width: 30%;
  min-width: 25%;
  object-fit: contain;   
}


.aboutme-title h1{
  padding-top: 0;
  
  font-size: 2.5;
}

.aboutme-text p{
  
  padding-right: 10%;
  font-size: 1.37em;
}

.aboutme-text p span {
  font-size: 1.37em;
  color: red;
}

.projects-title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 2.5rem ;
}



.cards{
  align-items: center;
  background-color: rgb(200, 200, 200); 
  max-height: 20rem;
  max-width: 45rem;
  padding: 4rem; 
  display: flex; 
  border-radius: 1rem;
  text-align: center;
  color: #000;
}
#rightcards{
  margin-left: auto;
}
#30cards{
  width: 30%;
  
}
#70cards{
  width: 70%;
  display: flex; 
  background-color: black;
  flex-direction: column; 
}

/* #70cards h1 {
  text-align: center;
  color: #000;
}

#70cards h3 {
  text-align: center;
  color: #000;
} */

#cardimg{
  width: 80%;
}

.text-form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: row-reverse; 
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
  
}

.contact-text {
  font-size: 1.37em;
  
  padding-bottom: 1.25rem;
  
}

.contact-text p{
  font-size: 1.375em;  
  padding-right: 0.625rem;
}

.contact-text a {
  color: red;
}
.contact-text a:hover{
  color: rgb(145, 1, 1);
}




footer {
  
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(75, 75, 75)100%, rgb(100, 100, 100) 100%, rgb(255, 255, 255)10%);
  padding: 2%;
}


  
  
  
  

.copyright {
  text-align:center ;
  padding-top: 10%;
  position: relative;
  
  top: 80%;
  bottom: 1.25rem;
  color: white;
  font-size: 1.25em;

}

.upicon {
  position:fixed;
  bottom: 15%; 
  right: 10%;
  display: none;
  
}

.upicon svg{
  width: 2.5rem;
  height: 2.5rem;
}


.iconsfoot {
  position:relative;
  
  right: 50;
  top:50%; 
  
}

.iconsfoot a{
  
  text-decoration: none
}

.iconsfoot a svg{
  width: 3.125rem;

}

/* Gakaxy Fold */
@media screen and (max-width:299px){
  

  header{
    width: 106%; 
  }
  
  main{
    width: 106%;
  }
  footer{
    width: 106%;
  }

 
  #navbar-logo{
    display: none;
  }
  .hidden{
    opacity: 1;
    
    transition: all 0s;
    transform: translateX(0);
  }
  .show{
    opacity: 1;
    transform: translateX(0);
    
  }
  .cloud{
    display: none;
  }

  
  
  .centered{
    height: 90%;
    width: 100%;
    line-height: 2.5rem;
    padding-top: 2%;
    
  }
  .centered h1 {
    font-size:40px;
    
    
  }

  .centered h1 p::first-letter{
    font-size: 50px;
  }
 
  .text-image-container {
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
      
  }

  .text-image-container img {
    flex-basis: 50%;
    max-width: 80%;
    min-width: 60%;
    margin-bottom: 20px;
  }


  .aboutme-title {
    text-align: center;
    font-size: 24px ;
  }  
  .aboutme-text {
      padding-top: 10px;
      text-align: center;
      
  }
  #cardimg{
    display: none;
  }
 
 
  .cards{
    max-width: 200px;
    
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  
  #decorationcard{
    text-align: center;
  }

  .text-form {
    flex-direction:column-reverse;
    text-align: center;  
    padding-top: 20px;
    align-items: center;
    
  }
  .text-form form{ 
    flex-basis: 30%; 
    flex-grow: 0;  
    width: 100%;  
  } 
  .contact-text{
    width: 80%;
  }

  .iconsfoot a svg {
    padding: 10px;
  }


  

  #scrollup {
    display: none;
  }
}

/* mobile Styles */
@media screen and (min-width: 300px) and (max-width:400px){
  
  

  header{
    width: 100%;    
  }
  main{
    width:100%;
  }
  footer{
    width: 100%;  
  }

  #navbar-logo{
    display: none;
  }
  .hidden{
    opacity: 1;
    
    transition: all 0s;
    transform: translateX(0);
  }
  .show{
    opacity: 1;
    transform: translateX(0);
    
  }
  .cloud{
    display: none;
  }

  .text-image-container {
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
      
  }

  .text-image-container img {
    flex-basis: 50%;
    max-width: 80%;
    min-width: 60%;
    margin-bottom: 20px;
  }


  .aboutme-title {
    text-align: center;
    font-size: 24px ;
  }  
  .aboutme-text {
      padding-top: 10px;
      text-align: center;
      
  }
  .centered{
    height: 90%;
    width: 100%;
    line-height: 3rem;
    padding-top: 2%;
    
  }
  .centered h1 {
    font-size:40px;
    
    
  }

  .centered h1 p::first-letter{
    font-size: 50px;
  }
 
  .text-image-container {
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
      
  }

  .text-image-container img {
    flex-basis: 50%;
    max-width: 80%;
    min-width: 60%;
    margin-bottom: 20px;
  }


  .aboutme-title {
    text-align: center;
    font-size: 24px ;
  }  
  .aboutme-text {
      padding-top: 10px;
      text-align: center;
      
  }
  

  .card{
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

  }
  #decorationcard{
    text-align: center;
  }
  #cardimg{
    display: none;
  }

  .text-form {
    flex-direction:column-reverse;
    text-align: center;  
    padding-top: 20px;
    align-items: center;
    
  }
  .text-form form{ 
    flex-basis: 30%; 
    flex-grow: 0;  
    width: 100%;  
  } 

  .iconsfoot a svg {
    padding: 10px;
  }


  

  #scrollup {
    display: none;
  }

}





/* Tablet Styles */
@media only screen and (min-width: 401px)and (max-width: 600px) {
  #navbar-logo{
    display: none;
  }

  .hidden{
    opacity: 1;
    
    transition: all 0s;
    transform: translateX(0);
  }
  .show{
    opacity: 1;
    transform: translateX(0);
    
  }
  header{
    width: 100% ;
    height: 100vh;
  }

  
  .centered{
    height: 90%;
    padding-top: 15%;
  }
  .centered h1 {
    font-size: 70px;
    line-height: 5rem;
  }

  .centeredh1 h1 .first-letter::before {
    font-size: 80px;
  }

  

  .cloud img {
    display: none;
  }

  #about{
    height: 100%;
  }
 
  

  .text-image-container {
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    height: 100%; 
    padding-bottom: 100px;
      
  }
  .text-image-container img {
    flex-basis: 50%;
    max-width: 80%;
    min-width: 60%;
    margin-bottom: 20px;
  }

  .aboutme-title {
    text-align: center;
  
  }  
  .aboutme-text {
      padding-top: 10px;
      text-align: center;
      
  }
 


  .cards{
    max-width: 200px;
    
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  #cardimg{
    display: none;
  }

 
  .text-form {
    flex-direction:column-reverse;
    text-align: center;  
    padding-top: 20px;
    align-items: center;
    
  }


  .text-form form{ 
     flex-basis: 30%; 
    flex-grow: 0;  
     width: 100%;   
  }
  
  #scrollup {
    display: none;
  }

  .upicon {
    display: none;
  }

}
@media only screen and (min-width: 601px)and (max-width: 960px) {
  #navbar-logo{
    display: none;
  }
  header{
    width: 100% ;
    
  }

  .centered{
    padding-top: 5%;
    height: 90%;
    
  }
  .centered h1 {
    font-size: 110px;
    line-height: 10rem;
  }

  .centeredh1 h1 .first-letter::before {
    font-size: 110px;
  }
 

  
  .text-form {
    flex-direction:column-reverse;
    text-align: center;  
    padding-top: 20px;
    align-items: center;
    
  }


 
}


/* Desktop Styles */
@media only screen and (min-width: 961px)and(max-width: 1099px){

  header {
    width: 110vh;
  }
  .centered{
    height: 90%;
  }
  .centered h1 {
    font-size: 50px;
    
  }

  .centeredh1 h1 .first-letter::before {
    font-size: 60px;
  }

  .text-image-container{
    padding-top: 15%;
    padding-bottom: 10%;
  }
 
}

@media only screen and (min-width: 1100px){
  .centered{
    height: 90%;
    padding-top: 2%;
    
  }
  
  .centered h1 {
    font-size: 80px;
    line-height: 4rem ;
  }

  .centeredh1 h1 .first-letter::before {
    font-size: 90px;
  }
  .text-image-container{
    line-height: 3rem;
    padding-bottom: 10%;
  }
}


